body {
    height: 100%;
    width: 100%;
    background-color: rgb(188, 7, 244);
    color:black;
    margin: 0;
}

.heading {
    font-size: 60px;
    align-items: left;
    margin-left: 5px;
}

.p-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    background-color: #fff;
    margin: 8px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-bottom: 30px;
}

.skills-header {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.skill-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: #fff; 
    padding: 10px; 
}

.skill img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}

.skill:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px 0px #000; 
}

.skill:hover .label {
    display: none;
}

.label {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
}
.btn.btnskill {
    background: #ff0051;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    margin-bottom: auto;
}

.btn.btnskill:hover {
    background: pink;
}

